@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/loading";

.currentWeather {
    margin: 20px 0;
}

.currentWeather__wrapper {
    
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
}

.currentWeather__data_temp {
    @include shadow-text;
    font-size: 150px;

}

.currentWeather__code {
    @include shadow-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.currentWeather__codeValue {
    @include shadow-text;
    margin: 10px 0;
}

.code_icon {
    @include shadow-text;
    margin: 20px;
    font-size: 150px;
}

.currentWeather__nowTitle {
    @include shadow-text;
    margin-top: 30px;
    font-size: 30px;
}

.currentWeather__values {
    text-align: left;
}

.currentWeather__data_Feeltemp {
    @include shadow-text;
}


.currentWeather__data_name, .currentWeather__data_value  {
    margin: 10px 0;
}

.currentWeather__data_name {
    color: $subtitle-color;
}

@media(max-width: 650px) {
    .currentWeather__data_temp, .code_icon {
        font-size: 100px;
    }

}

@media(max-width: 450px) {
    .currentWeather__wrapper {
        font-size: 14px;
    }
    .currentWeather__data_temp, .code_icon {
        font-size: 60px;
    }

    .code_icon {
        margin: 8px;
    }

    .currentWeather__nowTitle {
        font-size: 20px;
    }
}