@import '../../../../styles/variables';
@import '../../../../styles/loading';
@import '../../../../styles/mixins';

.chart__inner {
    margin-top: 50px;
    display: flex;
}

.chartTitle {
    @include shadow-text;
    font-size: 30px;
    margin-bottom: 10px;
}

.chartWrapper {
    max-width: 100%;
}

.chart_container {
    height: 600px;
    width: 1200px;
}

.sunChart_container {
    position: relative;
    height: 600px;
    width: 100%;
}

.additionalData {
    margin-bottom: 50px;
    width: 100%;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    display: flex;
    justify-content: space-around;
}

.text {
    position: fixed;
    top: 100;
    right: -1000;
    z-index: 10000;
    color: #fff;
    font-size: 40px;
}

.currentWind {
    height: 160px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.windValueWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.windValue {
    font-size: 120px;
    color: #36a2eb;
}

.windDir {
    margin-left: 20px;
    padding-top: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 70px;
    height: 70px;
}

@media (max-width: 1200px) {
    .chartWrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 450px) {
    .chart__inner {
        margin-top: 20px;
    }

    .day__input {
        width: 200px;
        font-size: 20px;
    }

    .chartTitle {
        font-size: 20px;
    }

    .additionalData {
        margin-bottom: 15px;
        display: block;
        font-size: 11px;
    }
    .additionalData_value {
        line-height: 1.5;
    }

    .currentWind {
        height: 90px;
        font-size: 12px;
    }

    .windValue {
        font-size: 60px;
    }

    .windDir {
        padding-top: 15px;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }
}
