@import "../../styles/mixins";

.temperature {
    @include shadow-text;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.arrow {
    @include shadow-text;
    filter: drop-shadow(1px 1px 2px black);
    position: absolute;
}

.data {
    margin-right: 40px;
}

@media (max-width: 650px) {
    .data {
        margin-right: 20px;
    }
}