@import "../../styles/variables";

.days_container {
    
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background-color: #000;
    }
}

.days_wrapper {
    // margin: 20px 0;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    &:hover {
        cursor: pointer;
        background-color: #ccc;

    }
}

.day__codeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day__code {
    color: $subtitle-color;
}

.time {
    // font-size: 20px;
}

.data_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 100px;
}

.temp_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.high_temp, .low_temp {
    // font-size: 26px;
    margin-left: 30px;
}

.low_temp {
 color: $subtitle-color;
}

.additionalData_wrapper {
    padding: 0 15px;
    margin-bottom: 15px;
    display: none;
    justify-content: space-between;
    font-size: 26px;
}

.day__data_name, .day__data_value {
    padding: 5px 0;
    font-size: 20px;
}

.day__data_name {
    color: $subtitle-color;
}

.day__dailyTempWrapper {
    padding: 0 15px;
    padding-bottom: 10px;
    display: none;
    justify-content: space-between;
    font-size: 18px;
    overflow-x: scroll;
}

.day__dailyTempData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day__dailyTemp {
    font-size: 16px;
}

.hourlyTime {
    font-size: 14px;
}

.hourlyIcon {
    margin: 8px 0;
    font-size: 30px;
}

.active {
    display: flex;
}

@media(max-width: 650px) {
    .icon {
        font-size: 50px;
    }

    .days_wrapper {
        padding: 15px 5px;
        font-size: 16px;
    }

    .day__data_name, .day__data_value {
        font-size: 16px;
    }

    .day__dailyTempData {
        margin: 0 5px;
    }

}