@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

$subtitle-color: #a1a1a1;

:root {
    --font-family-main: 'Open Sans', 'Times New Roman', Serif;

    --font-size-m: 16px;
    --font-size-l: 24px;
}
